@media screen and (max-width: 320px) {
    $padding-size: 26px;
    $padding-size-top: 16px;

    //Navbar block
    .nav-sticky {
        .top-nav {
            &__button {
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;

                padding: 10px 10px;
            }

            .nav-logo-small{
                display: block;
                margin-right: 5px;
            }
        }
        .container {
            padding: 0 26px;
        }
        .collapse {
            min-height: 250px;
            hr {
                margin: 0;
            }
            .container {
                height: 65px;
                padding: 0 26px;
            }
            .item-collapse-link {
                font-weight: 500;
                font-size: 22px;
                line-height: 27px;
            }
            .top-nav {
                &__button {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 29px;

                    color: white;
                }
                &__left {
                    height: 100%;
                }
            }
        }
    }
    //Model block
    .section-start {
        padding: 0 0;
        padding-bottom: $padding-size-top;

        &__logo {
            display: none;
            width: 154px;
            margin-left: 10px;
            margin-bottom: 10px;
        }

        &__register-info{
            margin: 0;
        }

        &__middle {
            padding: 0 0;
            border-radius: 18px;
        }
        .start-promo {
            padding: 33px 10px;
            &__left {
                min-width: 260px;

            }
        }
        .container-left-shifted {
            padding: $padding-size-top $padding-size-top;


            .promo-logo {
                width: 64px;
                height: 64px;

                margin-right: 7px;
            }
            .promo-text {
                &__middle {
                    font-size: 27px;

                    margin-top: $padding-size-top;
                }
                &__bottom {
                    margin-top: $padding-size-top;
                }
            }

            .promo-animated {
                &__3D-1 {
                    top: 10em;
                    width: 234px;
                }
                &__3D-2 {
                    left: -4em;
                    top: -7.5em;
                }
                &__notebook {
                    display: none;
                }
            }
        }
    }
    //Course block
    .course-concise-description {

        &__title {
            margin-top: 105px;
            padding-left: $padding-size;
        }
        .start-description {
            margin-left: $padding-size;

            &__title {
                font-weight: 900;
                font-size: 18px;
                line-height: 22px;

                display: block;
                padding-left: 0;
            }
            &__content {
                padding-top: 0;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;

                display: block;
                padding-left: 0;
            }

            &__formats ul {
                font-weight: 500;
                font-size: 18px;
                line-height: 15px;

                li {
                    margin-top: $padding-size-top;
                }
            }
        }
    }
    //Is for block
    .is-for {
        padding: $padding-size-top $padding-size;
        .for-who-icons {
            flex-direction: column;
        }
        .for-who-item {
            margin-bottom: 20px;
        }
    }
    //Format block
    .format {
        &__title {
            padding-left: $padding-size;
        }
        .container {
            padding-left: $padding-size;

            .formats {
                grid-template-columns: 1fr;
            }
        }
    }
    //Teacher block
    .teacher {
        padding: $padding-size-top 0;
        &__title {
            padding-left: $padding-size;
        }
        &__content {
            flex-direction: column;
            align-items: center;
        }
        .container {
            padding: 0 $padding-size    ;
        }
        .about-teacher {
            &__image {
                margin-bottom: $padding-size-top;
            }
        }
        .teacher-text {
            text-align: left;
            margin: 0;

            &__title {
                font-size: 23px;
                line-height: 23px;
            }
            &__concise {
                font-size: 21px;
                line-height: 21px;

                margin-top: $padding-size-top;
            }

            &__about li {
                font-weight: 400;
                font-size: 18px;
                line-height: 20px;

                margin-top: $padding-size-top;

            }
        }
    }
    //Price block
    .price {
        padding: $padding-size-top $padding-size;

        .price-content {
            &__left {
                width: 100%;
                max-width: 100%;
            }
        }
        .whats-included {
            display: none;
        }
        .course-include {
            &__items li {
                padding-top: 4px;
            }
        }
    }
    //Reviews block
    .reviews {
        &__title {
            padding-left: $padding-size;
        }
        .container {
            padding: 0 $padding-size;
            .review__wrapper {
                max-width: 320px;
            }
            .reviewer-name {
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;

                margin-left: 45px;
            }
            .reviewer-text {
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
            }
            .review-item {
                padding: 0 $padding-size;
                &__content {
                    margin-left: -45px;
                }

                &__icon img {
                    width: 38px;
                    height: 38px;
                }
            }
        }
    }
    //Cert block
    .certificate {
        &__text {
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
        }
    }
    //Footer block
    .footer-sm {
        padding: $padding-size-top $padding-size;
        display: block!important;
    }
    footer {
        .footer-contacts {
            &__email {
                margin-top: 24px;
            }
        }
        .footer-content {
            &__logo {
                width: 61px;
                height: 78px;
            }
            &__right {
                flex-direction: column;
                white-space: nowrap;
            }

        }
        .footer-socials {
            width: 100%;
            max-width: 320px;
        }
        .container {
            padding: 0;
        }
        .footer-links {
            flex-direction: column;
            width: 100%;

            .footer-content__right {
                width: 100%;
            }
            footer-content__left {
                width: 100%;
            }
            &__link {
                margin-top: $padding-size-top;
                text-align: right;
            }
        }
    }
}
