@media screen and (max-width: 960px) {
    $size-padding: 134px;

    .top-nav {

        &__logo {
            //width: 131px;
        }
        &__text-item {
            margin-right: 25px;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
        }
        &__button {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
        }
    }
    .section-start {
        padding-bottom: 45px;
        &__logo {
            margin-left: 85px;
            width: 177px;
        }
        &__middle {
            margin-left: 85px;
            margin-right: 15%;
            padding: 19px 0 41px 54px;
        }
    }

    .promo-logo {
        width: 68px;
        height: 68px;
        margin-right: 1.5em;
    }

    .promo-text {
        &__middle {
            margin-top: 20px;
            font-weight: 700;
            font-size: 30px;
            line-height: 30px;
        }
        &__bottom {
            margin-top: 25px;
            font-weight: 700;
            font-size: 19px;
            line-height: 19px;
        }
    }


    .promo-course-description {
        font-weight: 500;
        font-size: 19px;
        line-height: 19px;
    }

    .promo-animated {
        &__3D-1 {
            width: 270px;
            top: 4px;
            left: -25px;
        }
        &__3D-2 {
            top: -96px;
            right: -76px;
            width: 210px;
        }
        &__notebook {
            top: 120px;
            width: 375px;
        }
    }
    .course-concise-description {
        &__title {
            padding-left: $size-padding;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            border-bottom: 5px solid #595959;
        }
    }

    .start-description {
        margin-left: $size-padding;

        &__title {
            padding-top: 20px;
            font-weight: 900;
            font-size: 13px;
            line-height: 16px;
        }
        &__content {
            padding-top: 20px;
            font-weight: 500;
            font-size: 13px;
            line-height: 16px;
        }
    }
    .is-for {
        padding: 30px $size-padding 30px $size-padding;

        &__title {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
        }
        &__description {
            font-weight: 400;
            font-size: 13px;
            line-height: 13px;
            margin-top: 3em;
        }
    }
    .for-who-item {
        &__title {
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            margin-top: 1em;
        }
        &__icon {
            width: 45px;
        }
    }

    .format {
        padding-top: 40px;
        padding-bottom: 40px;

        &__title {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            padding-left: $size-padding;
            border-bottom: 5px solid #29C2E3;
        }
    }

    .formats {
        column-gap: 0px;
        row-gap: 35px;
        margin-left: $size-padding;
        margin-right: $size-padding;

        &__item {
            display: block;
        }
        &__item-icon {
            width: 60px;
            margin: auto;
            margin-bottom: 1em;
        }
    }

    .format-text {
        text-align: center;
        margin: 0;
        width: 225px;

        &__title {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: .5em;
        }
        &__description {
            text-align: left;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
        }
    }

    .program-form-wrapper {
        display: none;
    }

    .program {
        padding-top: 47px;
        padding-left: $size-padding;
        padding-right: $size-padding;
        padding-bottom: 40px;

        &__title {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
        }
    }

    .programs {
        max-width: 100%;
        width: 100%;
    }

    .program-block {
        margin-top: 30px;

        &__title {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
        }
        &__description {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
        }
    }

    .apply-form {
        max-width: 200px;
        padding-top: 21px;
        padding-bottom: 32px;

        &__start {
            margin-top: 1.5em;
            margin-bottom: 1.5em;
        }

        &__form {
            margin-top: .5em;
        }

        &__title {
            font-weight: 700;
            font-size: 16.6px;
            line-height: 20px;
        }
        &__submit {
            margin-top: 25px;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            padding: 8px 0;
        }
        &__text-input:not(:first-child) {
            margin-top: 4px;
        }
    }
    .apply-date {
        &__text {
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
        }
        &__date {
            font-weight: 700;
            font-size: 13px;
            line-height: 16px;
        }
    }

    .text-input {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        padding: 5px 10px;
    }

    $policy-size: 8px;
    .apply-policy {
        &__text {
            font-weight: 400;
            font-size: $policy-size;
            line-height: $policy-size;
        }
        &__link {
            font-weight: 400;
            font-size: $policy-size;
            line-height: $policy-size;
        }
        &__checkbox {
            width: $policy-size;
            height: $policy-size;
        }
    }
    .program-content li {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }

    .teacher {
        padding-top: 40px;

        &__content {
            margin-top: 1em;
        }
        &__title {
            padding-left: $size-padding;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            border-bottom: 5px solid #595959;
        }
    }

    .about-teacher {
        padding-left: $size-padding;
        padding-right: 100px;

        &__image {
            width: 155px;
            height: 155px;
        }
    }

    .teacher-text {
        &__title {
            font-weight: 700;
            font-size: 13px;
            line-height: 98.52%;
        }
        &__concise {
            font-weight: 400;
            font-size: 13px;
            line-height: 98.52%;
        }
        &__about li {
            font-weight: 400;
            font-size: 13px;
            line-height: 98.52%;
        }
    }
    .price {
        padding-top: 47px;
        padding-left: $size-padding;

        &__title {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
        }
    }
    .price-offer__details {
        margin-top: 40px;
    }
    .course-include {
        &__items li:after, &__items li:before {
            width: 30px;
            height: 30px;
        }
        &__items li:before {
            top: -5px;
        }
        &__items li:not(:first-child) {
            margin-top: 12px;
        }
        &__items {
            padding-left: 30px;
        }
        &__items li {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            padding-bottom: 8px;
        }
    }
    .whats-included__form-wrapper {
        justify-content: start;
    }
    .price-content__right {
        display: block;
    }

    .reviews {
        &__title {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            border-bottom: 5px solid #1FBCDE;
        }
    }
    .review-item {
        padding-left: $size-padding;
        padding-right: $size-padding;

        &__icon img {
            width: 56px;
            height: 56px;
        }
    }
    .reviewer-name {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
    }
    .reviewer-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }
    .hide-review, .comments-toggler {
        padding: 10px 40px;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;

    }
    .expand-review {
        right: 15px;
        padding-top: 10px;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
    }
    .certificate-full, footer {
        display: none;
    }

    .certificate-another, .certificate-another-form, .footer-sm {
        display: block!important;
    }

    .certificate {
        &__title {
            padding-left: $size-padding;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            border-bottom: 5px solid #595959;
        }
        &__text {
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
        }
        &__img {
            //width: 419px;
            margin-top: 3em;
        }
        .container {
            padding-left: $size-padding;
            padding-right: $size-padding;
            display: block;
        }
    }
    .certificate-another-form {
        position: absolute;
        right: 0;
        margin-right: 5%;
    }
    footer {
        padding-top: 30px;
        padding-left: 111px;
        padding-right: 111px;
    }
    .footer-content__logo {
        width: 181px;
    }
    .footer-contacts__email {
        margin-top: 3em;
    }
    .footer-contacts a {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
    .footer-links__link {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
    }
    .footer-socials__img {
        width: 19px;
        height: 19px;
    }

    .popup-apply-form {
        &__title {
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
        }
        &__pre-date-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }
        &__date {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }
    }
    .footer-links {
        margin-top: 1em;
        max-width: 100%;
        order: 2;
    }
    .footer-socials {
        order: 1;
        max-width: 75%;
    }
    .footer-contacts {
        display: flex;
        &__email {
            margin-top: 0;
        }
    }
}
