@media screen and (max-width: 720px) {
    .nav-logo-small {
        display: block;
    }
    .nav-logo-big {
        display: none;
    }

    .about-teacher{
        flex-direction: column;
    }

    .teacher-banner{
        margin: 0 auto;
    
        &__main-photo{
            width: 267px;
            height: 150px;
        }
    }

    .teacher-text{
        margin-top: 0;
        font-size: 16px;

        &__title{
            margin: 30px 0 0 0;
            font-size: 18px;
        }

        &__concise{
            font-size: 16px;
        }

        &__about li{
            font-size: 16px;
        }
    }
}
