@media screen and (max-width: 376px) {
    $padding-size: 42px;
    $padding-size-top: 18px;

    .nav-sticky {
        .nav-logo-small {
            display: none;
        }
        .nav-logo-burger {
            padding: 0;
        }
        .collapse {
            .item-collapse-button {
                font-weight: 400;
                font-size: 20px;
                line-height: 29px;
            }
        }
    }

    //Model block
    .section-start {
        padding: 0 0;
        padding-bottom: $padding-size-top;

        &__logo {
            width: 154px;
            margin-left: 10px;
            margin-bottom: 10px;
        }
        &__middle {
            padding: 0 0;
            border-radius: 18px;
        }
        .start-promo {
            padding: 33px 20px;

            &__left {
                min-width: 260px;
            }
        }
        .container-left-shifted {
            padding: 21px 21px;

            .promo-logo {
                width: 77px;
                height: 77px;

                margin-right: 15px;
            }
            .promo-text {
                &__middle {
                    font-weight: 700;
                    font-size: 29px;
                    line-height: 30px;

                    margin-top: $padding-size-top;
                }
                &__bottom {
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 119.02%;

                    margin-top: $padding-size-top;
                    max-width: 114px;
                }
            }
            .promo-course-description {
                font-weight: 500;
                font-size: 16px;
                line-height: 100.52%;

                white-space: normal;
            }
            .promo-animated {
                &__3D-1 {
                    top: 12em;
                    left: -13em;
                    width: 191px;
                }
                &__3D-2 {
                    left: -3em;
                    top: 7.5em;
                    width: 120px;
                }
                &__notebook {
                    top: 15em;
                    left: -13em;
                    width: 280px;
                }
            }
        }
    }
    //Course block
    .course-concise-description {

        &__title {
            margin-top: 105px;
            padding-left: $padding-size;
        }
        .start-description {
            margin-left: $padding-size;

            &__title {
                font-weight: 900;
                font-size: 18px;
                line-height: 22px;

                display: block;
                padding-left: 0;
            }
            &__content {
                padding-top: 0;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;

                display: block;
                padding-left: 0;
            }

            &__formats ul {
                font-weight: 500;
                font-size: 18px;
                line-height: 15px;

                li {
                    margin-top: $padding-size-top;
                }
            }
        }
    }
    //Is for block
    .is-for {
        padding: $padding-size-top $padding-size;
        .for-who-icons {
            flex-direction: column;
        }
        .for-who-item {
            margin-bottom: 20px;
        }
    }
    //Format block
    .format {
        &__title {
            padding-left: $padding-size;
        }
        .container {
            padding-left: $padding-size;

            .formats {
                grid-template-columns: 1fr;
            }
        }
    }
    //Teacher block
    .teacher {
        padding: $padding-size-top 0;
        &__title {
            padding-left: $padding-size;
        }
        &__content {
            flex-direction: column;
            align-items: center;
        }
        .container {
            padding: 0 $padding-size    ;
        }
        .about-teacher {
            &__image {
                margin-bottom: $padding-size-top;
            }
        }
        .teacher-text {
            text-align: left;
            margin: 0;

            &__title {
                font-size: 23px;
                line-height: 23px;
            }
            &__concise {
                font-size: 21px;
                line-height: 21px;

                margin-top: $padding-size-top;
            }

            &__about li {
                font-weight: 400;
                font-size: 18px;
                line-height: 20px;

                margin-top: $padding-size-top;

            }
        }
    }
    //Price block
    .price {
        padding: $padding-size-top $padding-size;

        .price-content {
            &__left {
                width: 100%;
                max-width: 100%;
            }
        }
        .whats-included {
            display: none;
        }
    }
    //Reviews block
    .reviews {
        &__title {
            padding-left: $padding-size;
        }
        .container {
            padding: 0 $padding-size;
            .review__wrapper {
                max-width: 375px;
            }
            .reviewer-name {
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;

                margin-left: 45px;
            }
            .reviewer-text {
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
            }
            .review-item {
                padding: 0 $padding-size;
                &__content {
                    margin-left: -45px;
                }

                &__icon img {
                    width: 38px;
                    height: 38px;
                }
            }
        }
    }
    //Cert block
    .certificate {
        &__text {
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
        }
    }
    //Footer block
    .footer-sm {
        padding: $padding-size-top $padding-size;
    }
    footer {
        .footer-contacts {
            &__email {
                margin-top: 24px;
            }
        }
        .footer-content {
            &__logo {
                width: 61px;
                height: 78px;
            }
            &__right {
                flex-direction: column;
                white-space: nowrap;
            }

        }
        .footer-socials {
            width: 100%;
            max-width: 320px;
        }
        .container {
            padding: 0;
        }
        .footer-links {
            flex-direction: column;
            width: 100%;

            .footer-content__right {
                width: 100%;
            }
            footer-content__left {
                width: 100%;
            }
            &__link {
                margin-top: $padding-size-top;
                text-align: right;
            }
        }
    }

    //Popup small block
    .popup-overlay {
        z-index: 9999;

        .popup-apply-form {
            max-width: 260px;
            padding: 28px 17px;

            &__form-content {
                width: auto;
            }
            &__title {
                font-size: 22px;
            }
            &__pre-date-text {
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
            }
            &__date {
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
            }
            &__text-input {
                padding: 11px 12px;
            }
            &__submit {
                line-height: 22px;
            }
            &__form-content-logo {
                display: none;
            }
        }
    }
}
