@media screen and (max-width: 1440px) {
    $padding-size: 16vw;

    $apply-form-padding-t-b: 25px;
    $apply-form-padding-l-r: 20px;
    $apply-form-date-size: 14px;
    $policy-text-size: 8px;

    .certificate-small {
        display: block!important;
    }
    .certificate-large {
        display: none;
    }

    //Navbar block
    .nav-sticky {
        .container {
            max-width: 100%;
            padding: 0px calc($padding-size - 5vw);
        }
    }

    //Models course block
    .section-start {
        &__logo {
            margin-left: 0px;
        }

        &__register-info{
            font-size: 16px;
        }

        &__top{
            margin: 0 150px 25px 0;
        }
        &__middle {
            padding: 24px 0 54px 75px;
        }

        .container-left-shifted {
            padding-left: calc($padding-size - 5vw);
            padding-right: 15%;

            .promo-course-description {
                font-weight: 500;
                font-size: 1.8vw;
                line-height: 1.8vw;

                white-space: nowrap;
            }
            .promo-text {
                &__middle {
                    font-weight: 700;
                    font-size: 3vw;
                    line-height: 3vw;

                    margin-top: 15px;
                }
                &__bottom {
                    font-weight: 700;
                    font-size: 1.55vw;
                    line-height: 96.52%;

                    margin-top: 50px;
                }
            }

            .promo-logo {
                width: 100px;
            }
            .promo-animated {
                &__3D-1 {
                    width: 30vw;
                    top: 20px;

                }
                &__3D-2 {
                    width: 20vw;
                    top: -145px;
                    right: -11vw;
                }
                &__notebook {
                    width: 49vw;
                    top: 160px;
                    left: -1vw;
                }
            }
        }
    }

    //About course block
    .course-concise-description {
        &__title {
            font-weight: 700;
            font-size: 34px;
            line-height: 41px;

            padding-left: $padding-size;
        }
        .start-description {
            &__title {
                font-weight: 900;
                font-size: 16px;
                line-height: 19px;
            }
            &__content {
                font-weight: 500;
                font-size: 16px;
                line-height: 16px;
            }
        }
    }

    //Is for block
    .is-for {
        padding-top: 32px;
        padding-left: $padding-size;
        padding-right: $padding-size;
        padding-bottom: 41px;

        &__title {
            font-weight: 700;
            font-size: 34px;
            line-height: 41px;
        }

        &__description {
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
        }

        .for-who-item {
            &__icon {

            }
            &__title {
                font-weight: 700;
                font-size: 16px;
                line-height: 17px;
            }
        }
    }

    //Format block
    .format {
        &__title {
            font-weight: 700;
            font-size: 34px;
            line-height: 41px;

            padding-left: $padding-size;
        }
        .container {
            padding-left: $padding-size;
            padding-right: $padding-size;

            .formats {
                column-gap: 0px;
                &__item {
                    display: block;
                }
                &__item-icon {
                    margin: auto;
                }
                .format-text {
                    margin-top: 8px;
                    text-align: center;
                    &__title {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 16px;
                    }
                    &__description {
                        text-align: left;

                        font-weight: 500;
                        font-size: 16px;
                        line-height: 16px;
                    }
                }
            }
        }
    }

    //Program block
    .program {
        padding-top: 52px;
        padding-left: $padding-size;
        padding-right: $padding-size;
        padding-bottom: 44px;

        &__title {
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
        }
        .program-block {
            &__title {

            }
            &__description {

            }
        }
        .container {
            margin: 0;
        }
        .programs {
            width: 100%;
            max-width: 56%;

            .program-block {
                margin-top: 32px;

                &__title {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                }
                &__description {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                }
            }
        }
        .program-form-wrapper {
            padding-right: 19px;
            padding-left: 19px;
            padding-top: 25px;
            padding-bottom: 38px;

            .apply-form {
                padding-top: 25px;
                padding-left: 19px;
                padding-right: 19px;
                padding-bottom: 33px;

                max-width: 24vw;

                .text-input {
                    padding: 7px 15px;
                }
                &__text-input:not(:first-child) {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;

                    margin-top: 8px;
                }
                &__title {
                    font-weight: 700;
                    font-size: 21px;
                    line-height: 25px;
                }

                &__form {
                    margin-top: 22px;
                }
                &__submit {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 22px;

                    margin-top: 22px;
                    padding: 9px 0;
                }
                .apply-policy {
                    &__text {
                        font-weight: 400;
                        font-size: 8px;
                        line-height: 8px;
                    }
                    &__link {
                        font-weight: 400;
                        font-size: 8px;
                        line-height: 8px;
                    }
                    &__checkbox {
                        width: 8px;
                        height: 8px;
                    }
                }
                .apply-date {
                    &__text {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 15px;
                    }
                    &__date {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 15px;
                    }
                }
                &__text-input {
                }
                &__submit {
                }

            }
        }
    }

    //Teacher block
    .teacher {
        padding: 52px 0;

        &__title {
            font-weight: 700;
            font-size: 34px;
            line-height: 41px;

            padding-left: $padding-size;
        }
        .container {
            padding: 0px $padding-size;
            margin: 0;
        }
    }

    //Price block
    .price {
        padding: 52px $padding-size;

        &__title {
            font-weight: 700;
            font-size: 34px;
            line-height: 41px;
        }
        .whats-included {
            display: none;
        }
        .course-include {
            margin-top: 30px;

            &__items li {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
    //Review block
    .reviews {
        padding: 52px 0;
        &__title {
            font-weight: 700;
            font-size: 34px;
            line-height: 41px;

            padding-left: $padding-size;
        }
        .expand-review {
            right: 10px;

            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        }
        .hide-review {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;

            padding: 14px 60px;
        }

        .container {
            padding: 0px $padding-size;
        }
    }
    //Cert block
    .certificate {
        &__text {
            max-width: 50%;
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
        }
        &__img {
            margin-top: 2em;
            max-width: 50%;
            width: 100%;
        }
        &__title {
            padding-left: $padding-size;
        }
        .container {
            display: block;
            padding-left: $padding-size;
        }
        .certificate-small-form {
            position: absolute;
            right: 16vw;
        }

        .certificate-small-form {
            .apply-form {
                max-width: 20vw;
                padding: $apply-form-padding-t-b $apply-form-padding-l-r;

                &__title {
                    font-weight: 700;
                    font-size: 21px;
                    line-height: 25px;
                }

                &__text-input:not(:first-child) {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;

                    margin-top: 8px;
                }

                &__submit {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 22px;

                    margin-top: 30px;
                    padding: 8px 0;
                }

                &__form {
                    margin-top: 20px;
                }
                .apply-date {
                    &__text {
                        font-weight: 400;
                        font-size: $apply-form-date-size;
                        line-height: $apply-form-date-size;
                    }
                    &__date {
                        font-weight: 400;
                        font-size: $apply-form-date-size;
                        line-height: $apply-form-date-size;
                    }
                }
                .apply-policy {
                    &__checkbox {
                        width: $policy-text-size;
                        height: $policy-text-size;
                    }
                    &__text {
                        font-weight: 400;
                        font-size: $policy-text-size;
                        line-height: $policy-text-size;
                    }
                    &__link {
                        font-weight: 400;
                        font-size: $policy-text-size;
                        line-height: $policy-text-size;
                    }
                }
            }
        }
    }
    //Footer block
    footer {
        padding: 0;
        .container {
            padding: 66px $padding-size;
        }
    }
}
