@media screen and (max-width: 1280px) {
    //Models course block
    .section-start {
        &__top{
            margin: 0 100px 25px 0;
        }

        .container-left-shifted {
            .promo-animated {
                &__3D-1 {
                    left: -7vw;
                }
                &__3D-2 {
                    top: -125px;
                    left: 15em;
                }
                &__notebook {
                    left: -10vw;
                }
            }
        }
    }
}
