@media screen and (max-width: 540px) {
    $padding-size: 42px;
    $padding-size-top: 17px;

    .nav-sticky {
        .top-nav {
            &__left {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__text-item {
                display: none;
            }

        }
        .nav-logo-burger {
            padding-left: 2em;
            display: block!important;
        }

        .collapse {
            .item-collapse-link {
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;

                color: black;
                display: block!important;
                margin-bottom: 1em;
            }
            .item-collapse-button {
                margin: auto;
                display: block;
            }
            .collapse-items {
                .container {
                    padding: 1em 1em;
                }
            }
        }
    }

    //Model block
    .section-start {
        padding: $padding-size-top 0;

        &__logo {
            width: 235px;
            margin-bottom: 16px;
        }

        &__register-info{
            display: none;
        }

        &__top{
            margin: 0 0 25px 0;
        }

        &__middle {
            border-radius: 18px;
            padding: 21px 21px;
            padding-bottom: 240px;
            width: auto;
        }

        .container-left-shifted {
            padding: 0 21px;

            .promo-logo {
                margin-right: 20px;
                width: 100px;
                height: 100px;
            }
            .promo-text {
                &__middle {
                    font-weight: 700;
                    font-size: 45px;
                    line-height: 38px;
                }
                &__bottom {
                    font-weight: 700;
                    font-size: 19px;
                    line-height: 96.52%;
                    text-align: right;
                }
                &__register-info{
                    margin-top: 12px;
                    display: block;
                    width: 250px;
                }
            }
            .promo-course-description {
                max-width: 191px;
                font-weight: 500;
                font-size: 18px;
                line-height: 100.52%;

                white-space: normal;
            }
            .start-promo {
                &__left {
                    max-width: 480px;
                }
            }
            .promo-animated {
                &__3D-1 {
                    top: 15em;
                    left: -30em;
                    width: 290px;
                }
                &__3D-2 {
                    left: -7em;
                    top: -8em;
                    width: 196px;
                }
                &__notebook {
                    top: 22em;
                    left: -22em;
                    width: 414px;
                }
            }
        }
    }

    .certificate {
        &__text, &__img {
            max-width: 100%;
        }
    }
    //Cert block
    .certificate-small {
        .certificate-small-form {
            display: none;
        }
    }

    .for-who-icons {
        flex-direction: column;
        .for-who-item {
            margin-top: 16px;
        }
    }
    .price {
        .price-content {
            &__left {
                max-width: 100%;
                width: 100%;
            }
        }
        .whats-included {
            display: none;
        }
    }
    .footer-sm {
        display: block!important;
        padding: 30px $padding-size;
        .footer-content {
            &__logo {
                width: 80px;
                height: 90px;
            }
        }
        .footer-text {
            flex-direction: column;

            &__left {
                margin-bottom: $padding-size-top;
            }
        }
    }

    .footer-md {
        display: none!important;
    }

    //Popup small block
    .popup-overlay {
        z-index: 9999;

        .popup-apply-form {
            max-width: 280px;

            &__form-content {
                width: auto;
            }
            &__title {
                font-weight: 700;
                font-size: 24px;
                line-height: 36px;
            }
            &__pre-date-text {
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
            }
            &__date {
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
            }
            &__text-input {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;

                width: 100%;
                padding: 12px 14px;
            }
            &__form-content-logo {
                display: none;
            }
        }
    }
}
