@media screen and (max-width: 560px) {
    $padding-size: 5vw;

    .nav-sticky {
        .top-nav {
            &__left {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__text-item {
                display: none;
            }

        }
        .nav-logo-burger {
            padding-left: 2em;
            display: block!important;
        }
        .collapse {
            .item-collapse {
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;

                color: black;
                display: block!important;
                margin-bottom: 1em;
            }
            .item-collapse-button {
                margin: auto;
            }
            .collapse-items {
                .container {
                    padding: 1em 1em;
                }
            }
        }
    }
}
