.program{
    margin: 0;
    padding: 60px 0 90px 0;
    background-color: #84B5FF;

    &__title{
        padding: 0;
        margin: 0;
        font-weight: 700;
        font-size: 32px;
        color: #ffffff;
    }

    &__content{
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }

    @media screen and (max-width: 1440px) {
        padding-top: 52px;
        padding-left: $padding-size;
        padding-right: $padding-size;
        padding-bottom: 44px;

        &__title {
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
        }

        .container {
            margin: 0;
        }
        
        .program-form-wrapper {
            padding-right: 19px;
            padding-left: 19px;
            padding-top: 25px;
            padding-bottom: 38px;

            .apply-form {
                padding-top: 25px;
                padding-left: 19px;
                padding-right: 19px;
                padding-bottom: 33px;

                max-width: 24vw;

                .text-input {
                    padding: 7px 15px;
                }

                &__text-input:not(:first-child) {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;

                    margin-top: 8px;
                }
                &__title {
                    font-weight: 700;
                    font-size: 21px;
                    line-height: 25px;
                }

                &__form {
                    margin-top: 22px;
                }
                &__submit {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 22px;

                    margin-top: 22px;
                    padding: 9px 0;
                }
                .apply-policy {
                    &__text {
                        font-weight: 400;
                        font-size: 8px;
                        line-height: 8px;
                    }
                    &__link {
                        font-weight: 400;
                        font-size: 8px;
                        line-height: 8px;
                    }
                    &__checkbox {
                        width: 8px;
                        height: 8px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1140px) {
        padding: 47px $padding-size;

        .program-form-wrapper {
            .apply-form {
                max-width: 22vw;
            }
        }
    }
}

.programs{
    width: 60%;
    max-width: 60%;

    &__item{
        max-width: 900px;
    }

    @media screen and (max-width: 1440px) {
        width: 100%;
        max-width: 56%;
    }

    @media screen and (max-width: 1140px) {
        max-width: 60%;
    }
}

.program-block {
    user-select: none;
    padding: 10px;
    cursor: pointer;
    margin: 70px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;

    &:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }

    &__title {
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        padding: 0;
        margin: 0 0 5px 0;
    }

    &__description {
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-weight: 700;
        color: #000000;
    }

    &__icon {
        transition: .5s;
        transform: rotate(0deg);
        width: 28px;
        height: 28px;
        display: block;
        cursor: pointer;
    }

    .expanded &__icon {
        transition: .5s;
        transform: rotate(45deg);
    }

    @media screen and (max-width: 1440px) {

        margin-top: 32px;

        &__title {
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
        }
        &__description {
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
        }
    }
}

.program-content{
    display: none;
    color: #ffffff;
    font-size: 16px;

    & li{
        padding: 0 0 0 10px;
        margin: 10px 0 0 0;

        &::marker{
            content: '✧';
        }
    }
}

.expanded .program-content{
    display: block;
}
