.reviews{
    padding: 100px 0 50px 0;

    &__title{
        width: fit-content;
        font-weight: 700;
        font-size: 32px;
        color: #000000;
        margin: 0 0 20px 0;
        padding: 0 0 10px 229px;
        border-bottom: 7px solid #1FBCDE;
    }

    & .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.review-item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &__icon{
        display: block;
        width: 84px;
        height: 84px;
    }

    &__content{
        padding: 0;
        margin: 0 0 0 5px;
        position: relative;
    }

    &:not(:first-child){
        margin-top: 50px;
    }
}

.reviewer-text-wrapper{
    padding: 10px;
    height: 120px;
    overflow-y: hidden;

    &:after{
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        -webkit-box-shadow: 0px -60px 40px 0px rgb(255, 255, 255) inset;
        -moz-box-shadow: 0px -60px 40px 0px rgb(255, 255, 255) inset;
        box-shadow: 0px -60px 40px 0px rgb(255, 255, 255) inset;
        z-index: 10;
        height: 50%;
    }

    .expanded &{
        height: auto;
        overflow: inherit;

        &:after{
            display: none;
        }
    }
}

.reviewer-name{
    color: #595959;
    margin: 0;
    font-size: 20px;
    padding: 10px;
}

.reviewer-text{
    color: #000000;
    font-size: 16px;
    margin: 0;
    padding: 20px 25px;
    border-radius: 23px;
    background-color: #ffffff;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
}

.expanded .expand-review{
    display: none;
}

.expand-review{
    cursor: pointer;
    z-index: 15;
    position: absolute;
    right: 0;
    transform: translate(0%, -50%);
    box-sizing: border-box;
    background-color: #595959;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    color: #ffffff;
    padding: 13px 25px;

    &:hover{
        background-color: #000000;
    }
}

.hide-review{
    float: right;
    margin-top: 15px;
    border-radius: 10px;
    padding: 14px 70px;
    background-color: #C9C9C9;
    border: none;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;

    &:hover{
        background-color: #595959;
    }
}

.comments-toggler{
    cursor: pointer;
    margin: 40px 0 0 0;
    padding: 13px 65px;
    font-size: 20px;
    color: #ffffff;
    border-radius: 10px;
    background-color: #84B5FF;
    border: none;

    &:hover{
        background-color: #A7A7A7;
    }
}
