.section-start{
    padding: 32px 0 85px 0;
    overflow: hidden;

    &__logo{
        display: block;
        width: 224px;
        height: 55px;
    }

    &__register-info{
        font-size: 20px;
        color: #595959;
    }

    &__top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 150px 25px 0;
    }

    &__middle{
        background-color: #84B5FF;
        border-radius: 44px;
        padding: 50px 0 90px 120px;
    }

    @media screen and (max-width: 1680px) {
        padding: $padding-size-top 0;

        &__logo {
            margin-left: 0;
        }

        &__top{
            margin: 0 0 25px 0;
        }

        &__middle {
            padding: 30px 75px;
        }

        .container-left-shifted {
            padding: 0 $padding-size;
            margin: 0;
            max-width: 100%;
        }
    }

    @media screen and (max-width: 1440px) {
        &__logo {
            margin-left: 0px;
        }

        &__register-info{
            font-size: 16px;
        }

        &__top{
            margin: 0 150px 25px 0;
        }
        &__middle {
            padding: 24px 0 54px 75px;
        }

        .container-left-shifted {
            padding-left: calc($padding-size - 5vw);
            padding-right: 15%;
        }
    }

    @media screen and (max-width: 1280px) {
       
        &__top{
            margin: 0 100px 25px 0;
        }
    }

    @media screen and (max-width: 1140px) {
        &__middle {
            padding: 0 0 54px 64px;
        }

        .container-left-shifted {
            padding-left: calc($padding-size - 4vw);
        }
    }
}

.promo-text{

    &__top{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    &__middle{
        margin: 50px 0 0 0;
        font-size: 64px;
        font-weight: 700;
        color: #ffffff;
    }

    &__bottom{
        margin: 70px 0 0 0;
        font-size: 36px;
        font-weight: 700;
        color: #000000;
    }

    &__register-info{
        float: right;
        display: none;
        text-align: right;
    }

    @media screen and (max-width: 1440px) {
        
        &__middle {
            font-weight: 700;
            font-size: 3vw;
            line-height: 3vw;

            margin-top: 15px;
        }
        &__bottom {
            font-weight: 700;
            font-size: 1.55vw;
            line-height: 96.52%;

            margin-top: 50px;
        }
    }
}


.start-promo{
    display: flex;
    flex-direction: row;
}

.promo-animated{
    width: 50%;
    max-width: 50%;
    position: relative;

    & img{
        display: block;
        position: absolute;
        transition: all .1s ease;
    }

    &__3D-1{
        pointer-events: none;
        z-index: 15;
        top: -90px;
        left: -50px;
    }

    &__3D-2{
        pointer-events: none;
        z-index: 15;
        top: -210px;
        right: -240px;
    }

    &__notebook{
        pointer-events: none;
        top: 220px;
        z-index: 10;
    }

    @media screen and (max-width: 1680px) {
        &__3D-1 {
            top: 8em;
            width: 450px;
            left: -6em;
        }
        &__3D-2 {
            left: 17em;
            width: 350px;
            top: -3em;
        }
        &__notebook {
            top: 20em;
            width: 600px;
        }
    }

    @media screen and (max-width: 1280px) {
        
        &__3D-1 {
            left: -7vw;
        }

        &__3D-2 {
            top: -125px;
            left: 15em;
        }

        &__notebook {
            left: -10vw;
        }
    }

    @media screen and (max-width: 1140px) {

        &__3D-1 {
            width: 30vw;
            top: 20px;
            left: -7vw;
        }
        &__3D-2 {
            left: 13em;
        }
        &__notebook {
            width: 49vw;
            top: 160px;
            left: -10vw;
        }
    }
}

.promo-logo{
    display: block;
    width: 150px;
    height: 150px;
    margin-right: 40px;

    @media screen and (max-width: 1440px) {
        width: 100px;
    }
}

.promo-course-description{
    color: #000000;
    font-weight: 500;
    font-size: 33px;

    @media screen and (max-width: 1440px) {
        font-weight: 500;
        font-size: 1.8vw;
        line-height: 1.8vw;

        white-space: nowrap;
    }
}

//About course block
.course-concise-description{

    &__title{
        margin: 60px 0 0 0;
        font-weight: 700;
        font-size: 32px;
        width: fit-content;
        padding: 0 4px 0 229px;
        border-bottom: 7px solid #595959;
    }

    @media screen and (max-width: 1680px) {
        
        &__title {
            padding-left: $padding-size;
        }
        .start-description {
            margin-left: $padding-size;
        }
    } 

    @media screen and (max-width: 1440px) {

        &__title {
            font-weight: 700;
            font-size: 34px;
            line-height: 41px;

            padding-left: $padding-size;
        }
        .start-description {

            &__title {
                font-weight: 900;
                font-size: 16px;
                line-height: 19px;
            }
            &__content {
                font-weight: 500;
                font-size: 16px;
                line-height: 16px;
            }
        }
    }

    @media screen and (max-width: 1140px) {
        &__title {
            padding-left: $padding-size;
        }
    }
}

.start-description{
    margin: 0 0 0 229px;
    border-spacing: 0;

    td{
        vertical-align: top;
    }

    &__title{
        padding: 40px 0 0 0;
        color: #75A6F1;
        font-weight: 900;
        font-size: 20px;
    }

    &__content{
        padding: 40px 0 0 25px;
        color: #000000;
        font-weight: 500;
        font-size: 20px;
        vertical-align: middle;
    }

    &__formats{

        & ul{
            margin: 0;
            padding: 0;
            list-style: none;

            & li:not(:first-child){
                padding: 0;
                margin: 5px 0 0 0;
            }
        }
    }

    @media screen and (max-width: 1140px) {
        margin-left: $padding-size;
    }
}
