.format{
    padding: 80px 0 90px 0;

    &__title{
        width: fit-content;
        padding: 0 0 0 229px;
        margin: 0;
        font-weight: 700;
        font-size: 32px;
        color: #000000;
        border-bottom: 7px solid #29C2E3;
    }

    @media screen and (max-width: 1440px) {
        &__title {
            font-weight: 700;
            font-size: 34px;
            line-height: 41px;

            padding-left: $padding-size;
        }
        
        .container {
            padding-left: $padding-size;
            padding-right: $padding-size;

            .formats {
                column-gap: 0px;
                &__item {
                    display: block;
                }
                &__item-icon {
                    margin: auto;
                }
                .format-text {
                    margin-top: 8px;
                    text-align: center;
                    &__title {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 16px;
                    }
                    &__description {
                        text-align: left;

                        font-weight: 500;
                        font-size: 16px;
                        line-height: 16px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1140px) {
        &__title {
            padding-left: $padding-size;
        }
        .container {
            padding: 0 $padding-size;
        }
    }
}

.formats{
    margin: 50px 0 0 0;
    display: grid;
    justify-items: center;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 90px;
    row-gap: 65px;

    &__item{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    &__item-icon{
        width: fit-content;
        height: fit-content;
        display: block;
    }
}

.format-text{
    margin: 0 0 0 25px;
    width: 280px;

    &__title{
        padding: 0;
        font-weight: 500;
        font-size: 20px;
        color: #1FBCDE;
        margin: 0 0 20px 0;
    }

    &__description{
        font-weight: 400;
        font-size: 16px;
        color: #000000;
        padding: 0;
        margin: 0;
    }

    @media screen and (max-width: 1140px) {

        width: auto;
    }
}
