@import "resources/scss/abstract/variables";

.nav-sticky {
    .collapse {
        position: absolute;
        height: auto;
        min-height: 200px;
        background: white;
        z-index: 100;
        width: 100%;

        .container {
            padding: 1em 1em;
        }
    }
}
.nav-sticky{
    z-index: 100;
    top: 0;
    position: sticky;
    height: 65px;
    width: 100%;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.1);
    background-color: $default-layout-color;

    .container{
        height: 100%;
    }
}

.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    &__logo{
        display: block;
    }

    &__text-item{
        color: #ffffff;
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
        margin-right: 65px;
    }

    &__button{
        cursor: pointer;
        padding: 9px 45px;
        border-radius: 9px;
        border: none;
        background-color: #27E2EE;
        color: #ffffff;

        &:hover{
            background-color: #75A6F1;
        }
    }
}

