.popup-apply-form-overlay{
    z-index: 9999 !important;
    background-color: rgba(255, 255, 255, 0.63) !important; 
}

.popup-apply-form-wrapper{
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
    border-radius: 23px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $container-xxl-min) {
        padding: 45px 70px 45px 30px;
        width: 710px;
    }

    @media screen and (max-width: $container-xl-max) and (min-width: $container-xl-min) {
        padding: 45px 70px 25px 30px;
        width: 700px;
    }

    @media screen and (max-width: $container-l-max) and (min-width: $container-l-min) {
        padding: 45px 70px 40px 30px;
        width: 700px;
    }

    @media screen and (max-width: $container-m-max) and (min-width: $container-m-min) {
        padding: 40px 45px 55px 40px;
        width: 600px;
    }

    @media screen and (max-width: $container-s-max) and (min-width: $container-s-min) {
        padding: 35px 40px 25px 40px;
        width: 410px;
    }

    @media screen and (max-width: $container-xs-max) and (min-width: $container-xs-min) {
        padding: 30px 30px 20px 30px;
        width: 280px;
    }

    @media screen and (max-width: $container-xxs-max) {
        padding: 30px 20px 20px 20px;
        box-sizing: border-box;
        width: 100%;
    }
}

.popup-apply-form{
    display: grid;

    &__head{
        align-self: center;
        grid-area: popup-apply-header;
    }

    &__form-inputs-wrapper{
        grid-area: popup-apply-form-inputs-wrapper;
    }

    &__bottom{
        grid-area: popup-apply-bottom;
    }

    &__title{
        font-weight: 700;
        font-size: 32px;
        color: #000000;
        margin: 0;
        padding: 0;
    }

    &__start{
        margin-top: 25px;
        font-size: 14px;
        color: #595959;
    }

    &__start-date{
        color: #000000;
    }

    & label{
        cursor: pointer;
        user-select: none;
    }

    &__success {
        text-align: center;
        padding: 10px 15px;
        margin: 0 10px 0 0;
        list-style: none;
        border-radius: 5px;
        border: 1px solid $success-border-color;
        color: $success-text-color;
        background-color: lighten($success-bg-color, 0%);

        &:empty{
            display: none;
        }

        li{
            margin-top: 5px;
        }
    }

    &__errors{
        padding: 10px 15px;
        margin: 0 10px 0 0;
        list-style: none;
        border-radius: 5px;
        border: 1px solid $error-color;
        color: $error-color;
        background-color: lighten($error-color, 30%);

        &:empty{
            display: none;
        }

        li{
            margin-top: 5px;
        }
    }

    &__text-input{
        display: block;
        width: 100%;
        outline: 0;
        box-sizing: border-box;
        padding: 10px 15px;
        border-radius: 10px;
        color: #595959;
        border: 1px solid #D9D9D9;
        background-color: #F3F3F3;
        transition: .2s;
    
        &.error{
            border-color: #d93c3c;
    
            &:focus{
                box-shadow: 0 0 0 0.2rem rgb(217 60 60 / 50%);
            }
        }
    
        &:focus{
            box-shadow: 0 0 0 0.2rem rgb(217 217 217 / 50%);
        }
        
    }

    &__item:not(:first-child){
        margin: 15px 0 0 0;
    }

    &__submit{
        margin: 40px 0 0 0;
        padding: 13px 0;
        display: block;
        width: 100%;
        color: #ffffff;
        font-weight: 700;
        font-size: 17px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        background-color: #9847FF;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.17);

        &:hover{
            background-color: #2C2C2C;
        }
    }


    @media screen and (min-width: $container-m-min) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "popup-apply-header popup-apply-form-inputs-wrapper"
            "popup-apply-bottom popup-apply-bottom";
    }

    @media screen and (max-width: $container-s-max) {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "popup-apply-header"
            "popup-apply-form-inputs-wrapper"
            "popup-apply-bottom";

        &__title{
            text-align: center;
        }

        &__start{
            text-align: center;
        }
    }
}

.popup-enroll-custom-checkbox-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.popup-enroll-custom-checkbox{
    position: relative;
    border-radius: 3px;
    border: 1px solid #9847FF;
    width: 13px;
    height: 13px;
    user-select: none;
    display: block;
    cursor: pointer;
    user-select: none;

    &__input{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        visibility: hidden;

        &:checked{
            & ~ .popup-enroll-custom-checkbox__checkmark{
                display: block;
            }
        }
    }

    &__checkmark{
        display: none;
    }
}

label[for="popup-im-student-checkbox"]{
    margin-left: 20px;
}

.text-input{

    @media screen and (max-width: 1440px) {
        padding: 7px 15px;
    }

    @media screen and (max-width: 960px) {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        padding: 5px 10px;
    }
}

.popup-apply-form-choice{
    margin: 15px 0 0 0;

    &__worker{
        display: block;
    }

    &__student{
        display: none;
    }
}

.popup-apply-policy{
    margin: 25px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 10px;

    &__text{
        font-weight: 400;
        color: #595959;
        padding: 0 0 0 10px;
        font-size: 10px;
        line-height: 10px;
    }

    &__link{
        text-decoration: none;
        color: #9847FF;
        font-weight: 400;
        font-size: 10px;
        line-height: 10px;
    }

    &__checkbox {
        width: 10px;
        height: 10px;
    }
}