@import "abstract/variables";
@import "vendor/normalize";

body {
    width: 100%;
    background-color: #ffffff;
    font-family: Inter, sans-serif;

    &.body-lock{
        position: fixed;
        overflow-y: scroll;
    }
}

p{
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

button{
    transition: background-color .3s;
}
