@import "../../../app.scss";

@import "../../../layout.scss";
@import "../../../sections/courses/compas_3d/for_beginners/top-nav.scss";
@import "../../../sections/courses/compas_3d/for_beginners/section-start.scss";
@import "../../../sections/courses/compas_3d/for_beginners/seaction-is-for.scss";
@import "../../../sections/courses/compas_3d/for_beginners/section-format.scss";
@import "../../../sections/courses/compas_3d/for_beginners/section-program.scss";
@import "../../../sections/courses/compas_3d/for_beginners/section-teacher.scss";
@import "../../../sections/courses/compas_3d/for_beginners/section-price.scss";
@import "../../../sections/courses/compas_3d/for_beginners/section-reviews.scss";
@import "../../../sections/courses/compas_3d/for_beginners/section-certificate.scss";
@import "../../../footer.scss";

@import "../../../blocks/apply-form.scss";
@import "../../../blocks/popup-apply-form.scss";

@import "../../../partials/popup.scss";
@import "../../../partials/inputs.scss";
@import "../../../partials/animation.scss";

.certificate-small, .nav-logo-small, .nav-logo-burger, .footer-md, .footer-sm, .collapse {
    display: none;
}

.popup-apply-form-close {
    display: none;
    text-decoration: none;
}