$container-xxl-min: 1920px;

$container-xl-max: 1919px;
$container-xl-min: 1440px;

$container-l-max: 1439px;
$container-l-min: 1140px;

$container-m-max: 1139px;
$container-m-min: 960px;

$container-s-max: 959px;
$container-s-min: 720px;

$container-xs-max: 719px;
$container-xs-min: 540px;

$container-xxs-max: 539px;
$container-xxs-min: 375px;

$container-xxxs-max: 374px;

$default-active-color-peaky: #AD99FF;
$default-active-color: #9847FF;

.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;

    @media (min-width: $container-xxl-min) {
        max-width: $container-xxl-min;
    }

    @media screen and (max-width: $container-xl-max) and (min-width: $container-xl-min) {
        max-width: $container-xl-min;
    }

    @media screen and (max-width: $container-l-max) and (min-width: $container-l-min) {
        max-width: $container-l-min;
    }

    @media screen and (max-width: $container-m-max) and (min-width: $container-m-min) {
        max-width: $container-m-min;
    }

    @media screen and (max-width: $container-s-max) and (min-width: $container-s-min) {
        max-width: $container-s-min;
    }

    @media screen and (max-width: $container-xs-max) and (min-width: $container-xs-min) {
        max-width: $container-xs-min;
    }

    @media screen and (max-width: $container-xxs-max) and (min-width: $container-xxs-min) {
        max-width: $container-xxs-min;
    }

    @media screen and (max-width: $container-xxxs-max) {
        max-width: 100%;
    }
}

@import "../../../app.scss";
@import "../../../layout.scss";

@import "../../../sections/courses/compas_3d/valve_modeling/top-nav.scss";

@import "../../../footer.scss";

@import "../../../partials/popup.scss";
@import "../../../partials/inputs.scss";
@import "../../../partials/animation.scss";