@import "../abstract/variables";

.apply-form{
    background-color: #ffffff;
    border-radius: 42px;
    padding: 50px 35px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    max-width: 400px;

    &__title{
        text-align: center;
        font-weight: 700;
        font-size: 28px;
        color: #000000;
        margin: 0;
        padding: 0;
    }

    &__start{
        margin: 25px 0 0 0;
        padding: 0;
    }

    &__form{
        margin: 35px 0 0 0;
        padding: 0;
    }

    &__success {
        text-align: center;
        padding: 10px 15px;
        margin: 0 10px 0 0;
        list-style: none;
        border-radius: 5px;
        border: 1px solid $success-border-color;
        color: $success-text-color;
        background-color: lighten($success-bg-color, 0%);

        &:empty{
            display: none;
        }

        li{
            margin-top: 5px;
        }
    }

    &__errors{
        padding: 10px 15px;
        margin: 0 10px 0 0;
        list-style: none;
        border-radius: 5px;
        border: 1px solid $error-color;
        color: $error-color;
        background-color: lighten($error-color, 30%);

        &:empty{
            display: none;
        }

        li{
            margin-top: 5px;
        }
    }

    &__text-input{
        display: block;
        width: 100%;
    }

    &__text-input:not(:first-child){
        margin: 15px 0 0 0;
    }

    &__submit{
        margin: 40px 0 0 0;
        padding: 15px 0;
        display: block;
        width: 100%;
        color: #ffffff;
        font-weight: 700;
        font-size: 20px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        background-color: #27E2EE;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.17);

        &:hover{
            background-color: #30b5be;
        }
    }

    @media screen and (max-width: 1440px) {
        padding-top: 25px;
        padding-left: 19px;
        padding-right: 19px;
        padding-bottom: 33px;

        max-width: 24vw;

        &__text-input:not(:first-child) {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;

            margin-top: 8px;
        }
        &__title {
            font-weight: 700;
            font-size: 21px;
            line-height: 25px;
        }

        &__form {
            margin-top: 22px;
        }
        &__submit {
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;

            margin-top: 22px;
            padding: 9px 0;
        }
    }

    @media screen and (max-width: 1140px) {
        max-width: 22vw;
    }

    @media screen and (max-width: 1024px) {
        max-width: 24vw;
    }

    @media screen and (max-width: 960px) {
        max-width: 200px;
        padding-top: 21px;
        padding-bottom: 32px;

        &__start {
            margin-top: 1.5em;
            margin-bottom: 1.5em;
        }

        &__form {
            margin-top: .5em;
        }

        &__title {
            font-weight: 700;
            font-size: 16.6px;
            line-height: 20px;
        }
        &__submit {
            margin-top: 25px;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            padding: 8px 0;
        }
        &__text-input:not(:first-child) {
            margin-top: 4px;
        }


    }
}

.text-input{

    @media screen and (max-width: 1440px) {
        padding: 7px 15px;
    }

    @media screen and (max-width: 960px) {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        padding: 5px 10px;
    }
}

.apply-policy{
    margin: 25px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    &__text{
        font-weight: 400;
        color: #595959;
        font-size: 12px;
        padding: 0 0 0 10px;
    }

    &__link{
        text-decoration: none;
        color: #0092A6;
        font-size: 12px;
    }

    @media screen and (max-width: 1440px) {
        &__text {
            font-weight: 400;
            font-size: 8px;
            line-height: 8px;
        }
        &__link {
            font-weight: 400;
            font-size: 8px;
            line-height: 8px;
        }
        &__checkbox {
            width: 8px;
            height: 8px;
        }
    }

    @media screen and (max-width: 960px) {
        &__text {
            font-weight: 400;
            font-size: 8px;
            line-height: 8px;
        }
        &__link {
            font-weight: 400;
            font-size: 8px;
            line-height: 8px;
        }
        &__checkbox {
            width: 8px;
            height: 8px;
        }
    }
}
