@import "../abstract/variables";

.popup-apply-form{
    border-radius: 30px;
    padding: 30px 45px;
    background-color: #ffffff;

    &__title{
        text-align: center;
        font-weight: 700;
        color: #000000;
        font-size: 40px;
    }

    &__form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__errors{
        padding: 10px 15px;
        margin: 0 10px 0 0;
        list-style: none;
        border-radius: 5px;
        border: 1px solid $error-color;
        color: $error-color;
        background-color: lighten($error-color, 30%);

        &:empty{
            display: none;
        }

        li{
            margin-top: 5px;
        }
    }

    &__form-content{
        width: 100%;
        justify-content: space-between;
        margin: 30px 0 0 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    &__text-input{
        display: block;
        width: 350px;
        margin: 15px 0 0 0;
    }

    &__submit{
        cursor: pointer;
        margin-top: 30px;
        width: fit-content;
        padding: 10px 30px;
        background-color: #27E2EE;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.17);
        border-radius: 5px;
        border: none;
        color: #ffffff;
        font-weight: 700;
        font-size: 20px;

        &:hover{
            background-color: #30b5be;
        }
    }

    .popup-apply-policy{
        margin: 25px 0 0 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        &__text{
            font-weight: 400;
            color: #595959;
            font-size: 12px;
            padding: 0 0 0 10px;
        }

        &__link{
            text-decoration: none;
            color: #0092A6;
            font-size: 12px;

        }
    }

    @media only screen and (min-width: 1140px) {
        width: 610px;
    }
    @media only screen and (max-width: 1139px) and (min-width: 960px) {
        width: 550px;
    }
    @media only screen and (max-width: 959px) and (min-width: 720px) {
        width: 550px;
    }
    @media only screen and (max-width: 719px) and (min-width: 540px) {
        width: 500px;
    }
    @media only screen and (max-width: 539px) {
        width: 100%;
    }
}
