$container-xxl-min: 1385px;

$container-xl-max: 1384px;
$container-xl-min: 1200px;

// colors
$default-layout-color: #595959;

$success-text-color: #0f5132;
$success-bg-color: #d1e7dd;
$success-border-color: #badbcc;

$error-color: #d93c3c;